.top
{
    width: 100%;
    height: 50px;
    background-color: #efeaef; /*was eee*/
    top: 0; 
    display: flex;
    align-items: center;
    font-family: "Blankenburg";
}

.topLeft
{
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
}

.topCenter
{
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
}

.top2
{
    width: 100%;
    height: 50px;
    background-color: #efeaef;
    top: 0; 
    display: flex;
    align-items: center;
    font-family: "RobotoCondensedLight";
}

.topCenter2
{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
.topList
{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topList a
{
    text-decoration: none; 
    color: black;
}

.topListItem
{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}